{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro Scanner</title>
    {% tailwind_css %}
</head>
<body>
    {% include "component/navbar.html" %}
    {% block content %}
    {% endblock %}
    {% include "component/footer.html" %}

<script src="{% static 'detector/js/script.js' %}" ></script>  
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script> 
</body>

</html>
