{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🛡️</text></svg>">
    <title>Scanner HD</title>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
</head>
<body>
    {% include "component/navbar.html" %}
    {% block content %}
    {% endblock %}
    {% include "component/footer.html" %}

<script src="{% static 'detector/js/script.js' %}" ></script>  
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script> 
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
<script>
     document.addEventListener("DOMContentLoaded", function() {
    const btn = document.getElementById('mobile-menu-btn');
    const menu = document.getElementById('mobile-menu');

    btn.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  });
</script>
</body>

</html>
